input, select, textarea, button { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#a7a9ac; }
fieldset { border:none;}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner{ border:0px; } 
input[type="text"], input[type="password"], textarea, select { outline: none; }

.search{ position:relative; clear:both;}
.search input[type="text"]{ border:1px solid #c0c0c0; width:325px; font-family: 'robotobold', sans-serif; font-size:11px; font-weight:normal; color:#a7a9ac; padding:3px 34px 4px 8px;}
.search input[type="submit"]{ width:32px; height:14px; background:url(../images/search.png) no-repeat center; border:none; border-left: 1px solid #c0c0c0; position:absolute; top:5px; right:2px; cursor:pointer; }

.commentsBlock form input,
.commentsBlock form textarea{ display:block; border:#c0c0c0 1px solid; color:#808285; padding:6px 15px 7px 15px; margin-bottom:12px; width:396px;}
.commentsBlock form textarea{ height:129px; margin-bottom:15px;}
.commentsBlock input[type="submit"]{ border:none; background:none; color:#226499; font-family: 'robotomedium'; font-weight:normal; font-size:16px; width:auto; padding:0; cursor:pointer; margin-bottom:18px;}

.contentCol .block .search{ margin-bottom:18px;}
.contentCol .block .search input[type="text"]{ width:433px; padding:7px 44px 6px 10px;}
.contentCol .block .search input[type="submit"]{ background:url(../images/search_big.png) no-repeat center; right:370px; height:19px; width:43px;}



