/*---------------------------------
    Fonts
  ---------------------------------*/
/*---------------------------------
    Font sizes
  ---------------------------------*/
/*---------------------------------
    Colors
  ---------------------------------*/
body {
  background: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #232323;
}

.container {
  position: relative;
  max-width: 960px;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 42px;
  color: #232323;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: #232323;
  letter-spacing: 12px;
  background-color: #ccc;
}

h3, h4 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  color: #232323;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  color: #232323;
  line-height: 25px;
}

p {
  line-height: 27px;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

ul li {
  margin-bottom: 6px;
}

/*keyframes*/
@-webkit-keyframes slideIn {
  0% {
    background-color: transparent;
    right: 100%;
  }
}
@keyframes slideIn {
  0% {
    background-color: transparent;
    right: 100%;
  }
}
