/*---------------------------------
    Fonts
  ---------------------------------*/
/*---------------------------------
    Font sizes
  ---------------------------------*/
/*---------------------------------
    Colors
  ---------------------------------*/
/*---------------------------------
    Fonts
  ---------------------------------*/
/*---------------------------------
    Font sizes
  ---------------------------------*/
/*---------------------------------
    Colors
  ---------------------------------*/
body {
  background: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #232323;
}

.container {
  position: relative;
  max-width: 960px;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 42px;
  color: #232323;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: #232323;
  letter-spacing: 12px;
  background-color: #ccc;
}

h3, h4 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  color: #232323;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  color: #232323;
  line-height: 25px;
}

p {
  line-height: 27px;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

ul li {
  margin-bottom: 6px;
}

/*keyframes*/
@-webkit-keyframes slideIn {
  0% {
    background-color: transparent;
    right: 100%;
  }
}
@keyframes slideIn {
  0% {
    background-color: transparent;
    right: 100%;
  }
}

/*side column*/
.side-col {
  padding-top: 20px;
  background-color: #F3F3F3;
  color: #232323;
  padding-left: 35px;
}

.side-col a {
  color: #232323;
}

.side-col .icon-list {
  margin-left: -15px;
}

.side-col .icon-list .svg-inline--fa {
  color: #7DCAFF;
  padding-right: 5px;
  width: 6%;
  margin-bottom: 2px;
}

.side-col h3 {
  color: #232323;
  position: relative;
  margin-bottom: 20px;
}

.side-col h3:before {
  content: "";
  position: absolute;
  background: #7DCAFF;
  height: 2px;
  left: -35px;
  right: 30%;
  bottom: -5px;
  -webkit-animation: 1s ease-out 0s 1 slideIn;
  animation: 1s ease-out 0s 1 slideIn;
}

.side-col .descr {
  display: block;
  padding: 8px 0;
}

.side-col .descr:last-child {
  padding-bottom: 0;
}

/*content side*/
.cont-col {
  padding-top: 30px;
  padding-bottom: 20px;
}

.cont-col h3 {
  position: relative;
  margin-bottom: 20px;
}

.cont-col h3:before {
  content: "";
  position: absolute;
  background: #7DCAFF;
  height: 2px;
  left: -15px;
  right: 40%;
  bottom: -5px;
  -webkit-animation: 1s ease-out 0s 1 slideIn;
  animation: 1s ease-out 0s 1 slideIn;
}

.cont-col .circle {
  vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #232323;
}

.cont-col ul li a {
  color: #232323;
  text-decoration: underline;
}

.cont-col ul li a:hover {
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .cont-col {
    padding-top: 20px;
  }
}
